body{
  display: flex;
  flex-direction: column;
}

h2 {
  margin-top: 2rem;
}

.logo-img {
  height: 3.9rem;
}

.edit-img {
  height: 1.6rem;
}

.edit-img:hover {
  height: 1.6rem;
  background-color: blue;
  opacity: 80%;
  border-radius: 0.2rem;
}

.delete-img {
  height: 1.6rem;
  opacity: 80%;
  border-radius: 0.2rem;
}

.delete-img:hover {
  height: 1.6rem;
  background-color: red;
  opacity: 80%;
  border-radius: 0.2rem;
}

.logo-img:hover {
  opacity: 50%;
}

.table-colab {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.line-table:hover {

  background-color: #f8f9fa;
}